@import url('./modals.css');
@import url('./ui.css');
@import url('./settingsModal.css');
@import url('./howtoplayModal.css');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow: hidden; /* IOS, MacOS overscroll fix! */
}

.app {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	user-select: none;
	background-image: url('https://www.transparenttextures.com/patterns/black-felt.png');
	background-color: #111;
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
}

#Game,
#Background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
}
